*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #17153B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #fff;
    width: 40%;
    overflow: hidden;
    /* border: 1px solid; */
}
h2 {
    margin-bottom: 20px;
}
form{
    width: 100%;
}
label{
    font-size: .9rem;
}
label::after{
    content: "*";
    font-size: 1rem;
    color: #C80036;
    margin-left: 2px;
    
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 2px 0 17px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input[type="submit"] {
    background-color: #17153B;
    color: white;
    padding: 10px 40px;
    font-size: .9rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #1a174d;
}